<!DOCTYPE html>
<html dir="rtl">
<head>
  <title>Vuetify Parallax Starter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cairo:400,700,900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

  <style>
    * {
      font-family: 'Cairo', sans-serif !important;
    }

    .cover-image {
      width: 60%;
      height: auto;
    }
  </style>
</head>
<body>
 <div id="app">
   <v-app light>
    <v-content>
      <section>
        <v-parallax src="assets/cover.jpg" height="560">
          <v-layout
            column
            align-center
            justify-center
            class="white--text"
          >
            <img src="assets/logo.png" class="cover-image">
          </v-layout>
        </v-parallax>
      </section>

      <section>
        <v-bottom-navigation
          v-model="bottomNav"
          background-color="deep-purple accent-4"
          color="white"
        >
          <v-btn value="whoAreWe" large>
            <span>إحنا مين؟</span>
            <v-icon>mdi-human-greeting</v-icon>
          </v-btn>

          <v-btn value="products" large>
            <span>منتجاتنا</span>
            <v-icon>mdi-heart</v-icon>
          </v-btn>

          <v-btn value="offers" large>
            <span>عروضنا</span>
            <v-icon>mdi-gift</v-icon>
          </v-btn>

          <v-btn value="contact" large>
            <span>إزاي توصلنا؟</span>
            <v-icon>mdi-map-marker</v-icon>
          </v-btn>
        </v-bottom-navigation>
      </section>

      <section v-if="bottomNav == 'whoAreWe'">
        <v-layout
          column
          wrap
          class="my-12"
          align-center
        >
          <v-flex xs12 sm4 class="my-4">
            <div class="text-center">
              <h1 style="font-size: 40px;">احنا مين؟</h1>
            </div>
          </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout row wrap align-center>
                <v-flex xs12 md4>
                  <v-card flat class="transparent">
                    <v-card-text class="text-center">
                      <v-icon x-large class="red--text text--accent-2">mdi-palette</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="text-center" style="font-size: 30px;">أي كلام دلوقتي</div>
                    </v-card-title>
                    <v-card-text>
                      احنا اللي دهنّا الهوا دوكو واحنا اللي خرمنا التعريفة واحنا اللي غرقنا السمك في الماية.
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md4>
                  <v-card flat class="transparent">
                    <v-card-text class="text-center">
                      <v-icon x-large class="red--text text--accent-2">mdi-flash</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="text-center"style="font-size: 30px;">أي كلام برده</div>
                    </v-card-title>
                    <v-card-text>
                      احنا اللي دهنّا الهوا دوكو واحنا اللي خرمنا التعريفة واحنا اللي غرقنا السمك في الماية.
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md4>
                  <v-card flat class="transparent">
                    <v-card-text class="text-center">
                      <v-icon x-large class="red--text text--accent-2">mdi-wrench</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="text-center"style="font-size: 30px;">أي كلام برده</div>
                    </v-card-title>
                    <v-card-text>
                      احنا اللي دهنّا الهوا دوكو واحنا اللي خرمنا التعريفة واحنا اللي غرقنا السمك في الماية.
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </section>

      <section v-if="bottomNav == 'products'">
        <v-layout
          column
          wrap
          class="my-12"
          align-center
        >
          <v-flex xs12 sm4 class="my-4">
              <div class="text-center">
                <h1 style="font-size: 40px;">منتجاتنا</h1>
              </div>
            </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout row wrap align-center>
                <v-flex xs12 md6>
                  <v-card>
                    <v-img
                      height="200px"
                      src="assets/plane.jpg"
                    ></v-img>

                    <v-card-title>
                      أول ممنتج
                    </v-card-title>

                    <v-card-subtitle>
                      النوع الأول
                    </v-card-subtitle>

                    <v-card-actions>
                        <v-dialog
                          v-model="dialog1"
                          width="500"
                        >
                          <template v-slot:activator="{ on }">
                            <v-btn
                              color="deep-purple accent-4"
                              text
                              v-on="on"
                            >
                              إعرف أكتر
                            </v-btn>
                          </template>

                          <v-card>
                            <v-card-title
                              class="grey lighten-2"
                              primary-title
                            >
                              <h2>المنتج الأول</h2>
                            </v-card-title>

                            <v-card-text class="mt-2">
                              هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. 
                            </v-card-text>

                            <v-divider></v-divider>

                            <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn
                                color="deep-purple accent-4"
                                text
                                @click="dialog1 = false"
                              >
                                العودة
                              </v-btn>
                            </v-card-actions>
                          </v-card>
                        </v-dialog>
                    </v-card-actions> 
                  </v-card>
              </v-flex>

              <v-flex xs12 md6>
                  <v-card>
                    <v-img
                      height="200px"
                      src="assets/plane.jpg"
                    ></v-img>

                    <v-card-title>
                      أول ممنتج
                    </v-card-title>

                    <v-card-subtitle>
                      النوع الأول
                    </v-card-subtitle>

                    <v-card-actions>
                        <v-dialog
                          v-model="dialog2"
                          width="500"
                        >
                          <template v-slot:activator="{ on }">
                            <v-btn
                              color="deep-purple accent-4"
                              text
                              v-on="on"
                            >
                              إعرف أكتر
                            </v-btn>
                          </template>

                          <v-card>
                            <v-card-title
                              class="grey lighten-2"
                              primary-title
                            >
                              <h2>المنتج الأول</h2>
                            </v-card-title>

                            <v-card-text class="mt-2">
                              هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. 
                            </v-card-text>

                            <v-divider></v-divider>

                            <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn
                                color="deep-purple accent-4"
                                text
                                @click="dialog2 = false"
                              >
                                العودة
                              </v-btn>
                            </v-card-actions>
                          </v-card>
                        </v-dialog>
                    </v-card-actions> 
                  </v-card>
              </v-flex>

              <v-flex xs12 md6>
                  <v-card>
                    <v-img
                      height="200px"
                      src="assets/plane.jpg"
                    ></v-img>

                    <v-card-title>
                      أول ممنتج
                    </v-card-title>

                    <v-card-subtitle>
                      النوع الأول
                    </v-card-subtitle>

                    <v-card-actions>
                        <v-dialog
                          v-model="dialog3"
                          width="500"
                        >
                          <template v-slot:activator="{ on }">
                            <v-btn
                              color="deep-purple accent-4"
                              text
                              v-on="on"
                            >
                              إعرف أكتر
                            </v-btn>
                          </template>

                          <v-card>
                            <v-card-title
                              class="grey lighten-2"
                              primary-title
                            >
                              <h2>المنتج الأول</h2>
                            </v-card-title>

                            <v-card-text class="mt-2">
                              هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. 
                            </v-card-text>

                            <v-divider></v-divider>

                            <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn
                                color="deep-purple accent-4"
                                text
                                @click="dialog3 = false"
                              >
                                العودة
                              </v-btn>
                            </v-card-actions>
                          </v-card>
                        </v-dialog>
                    </v-card-actions> 
                  </v-card>
              </v-flex>

              <v-flex xs12 md6>
                  <v-card>
                    <v-img
                      height="200px"
                      src="assets/plane.jpg"
                    ></v-img>

                    <v-card-title>
                      أول ممنتج
                    </v-card-title>

                    <v-card-subtitle>
                      النوع الأول
                    </v-card-subtitle>

                    <v-card-actions>
                        <v-dialog
                          v-model="dialog4"
                          width="500"
                        >
                          <template v-slot:activator="{ on }">
                            <v-btn
                              color="deep-purple accent-4"
                              text
                              v-on="on"
                            >
                              إعرف أكتر
                            </v-btn>
                          </template>

                          <v-card>
                            <v-card-title
                              class="grey lighten-2"
                              primary-title
                            >
                              <h2>المنتج الأول</h2>
                            </v-card-title>

                            <v-card-text class="mt-2">
                              هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. 
                            </v-card-text>

                            <v-divider></v-divider>

                            <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn
                                color="deep-purple accent-4"
                                text
                                @click="dialog4 = false"
                              >
                                العودة
                              </v-btn>
                            </v-card-actions>
                          </v-card>
                        </v-dialog>
                    </v-card-actions> 
                  </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-layout>
      </section>

      <section v-if="bottomNav == 'contact'">
        <v-layout
          column
          wrap
          class="my-12"
          align-center
        >
          <v-flex xs12 sm4 class="my-4">
            <div class="text-center">
              <h1 style="font-size: 40px;">إزاي توصلنا؟</h1>
              <br>
              <v-subheader>يسعدنا توصلكم معنا للحجز و الإستفسار عن طريق....</v-subheader>
            </div>
          </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout row wrap class="my-12">

                <v-flex xs12 sm6>
                  <img src="assets/logo.png" height="200px;"></img>
                </v-flex>

                <v-flex xs12 sm6>
                  <v-card flat class="transparent">
                    <v-list class="transparent mt-5">
                      <v-list-item>
                        <v-list-item-action>
                          <v-icon class="red--text text--accent-2 ml-2">mdi-phone</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                          <v-list-item-title>(+20) 123 456 789</v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                      <v-list-item>
                        <v-list-item-action>
                          <v-icon class="red--text text--accent-2 ml-2">mdi-instagram</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                          <v-list-item-title><a href="https://www.instagram.com/al3nod512">al3nod@</a></v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                      <v-list-item>
                        <v-list-item-action>
                          <v-icon class="red--text text--accent-2 ml-2">mdi-email</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                          <v-list-item-title>service@al3nod.com</v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </section>

      <v-footer padless>

        <v-card
          flat
          tile
          width="100%"
          class="deep-purple accent-4"
          dark
        >
          <v-card-text class="text-center white--text">
            <strong>العنود</strong> — {{ new Date().getFullYear() }} 
          </v-card-text>
        </v-card>
      </v-footer>
    </v-content>
  </v-app>
 </div>
 <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
 <script>
   new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    data () {
      return {
        bottomNav: 'whoAreWe',
        dialog1: false,
        dialog2: false,
        dialog3: false,
        dialog4: false,
        show: false
      }
    }
  })
 </script>
</body>
</html>
