<!DOCTYPE html>
<html dir="rtl">
<head>
  <title>اﻟﻌﻨﻮﺩ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cairo:400,700,900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

  <style>
    * {
      font-family: 'Cairo', sans-serif !important;
    }

    .cover-image {
      width: 60%;
      height: auto;
    }
  </style>
</head>
<body>
 <div id="app">
   <v-app light>
    <v-content>
      <section>
        <v-parallax src="assets/cover.jpg" height="560">
          <v-layout
            column
            align-center
            justify-center
            class="white--text"
          >
            <img src="assets/logo.png" class="cover-image">
          </v-layout>
        </v-parallax>
      </section>

      <section>
        <v-bottom-navigation
          v-model="bottomNav"
          background-color="deep-purple accent-4"
          color="white"
        >
          <v-btn value="whoAreWe" large>
            <span>ﺇﺣﻨﺎ ﻣﻴﻦ؟</span>
            <v-icon>mdi-human-greeting</v-icon>
          </v-btn>

          <v-btn value="products" large>
            <span>ﻣﻨﺘﺠﺎﺗﻨﺎ</span>
            <v-icon>mdi-heart</v-icon>
          </v-btn>

          <v-btn value="offers" large>
            <span>ﻋﺮﻭﺿﻨﺎ</span>
            <v-icon>mdi-gift</v-icon>
          </v-btn>

          <v-btn value="contact" large>
            <span>ﺇﺯاﻱ ﺗﻮﺻﻠﻨﺎ؟</span>
            <v-icon>mdi-map-marker</v-icon>
          </v-btn>
        </v-bottom-navigation>
      </section>

      <section v-if="bottomNav == 'whoAreWe'">
        <v-layout
          column
          wrap
          class="my-12"
          align-center
        >
          <v-flex xs12 sm4 class="my-4">
            <div class="text-center">
              <h1 style="font-size: 40px;">ﺇﺣﻨﺎ ﻣﻴﻦ؟</h1>
            </div>
          </v-flex>
          <v-flex xs12>
            <v-container>
              <div class="text-center">
                شركه العنود المصرية  للعطور الطبيعية المستوحاة من الطبيعية،<br> و مكوناتها التي تتناسب في الاستخدام لجميع الأشخاص و<br> بخاصة أصحاب البشرة الحساسة حيث تقدم شركة العنود عطور طبيعية مضادة للحساسية ؛ <br>تسمح للأشخاص ذو حساسية الجلد بالإستمتاع برائحة فاخرة دون المساومة علي الجودة<br> و إستخدام الزيوت العطرية النقية فقط ، و بسعر يناسب الفئة المتوسطه .
              </div>
              
              <v-layout
                row
                class="my-12 text-center"
                align-center
              >
                <v-flex xs12 sm4 class="my-1">
                    <v-btn
                    @click="bottomNav = 'products'"
                    color="deep-purple accent-4"
                    class="ma-2 white--text"
                    tile
                    outlined
                    large
                  >
                    منجاتنا  
                    <v-icon left dark>mdi-heart</v-icon>
                  </v-btn>
                </v-flex>
                
                <v-flex xs12 sm4 class="my-1">
                    <v-btn
                    @click="bottomNav = 'offers'"
                    color="deep-purple accent-4"
                    class="ma-2 white--text"
                    tile
                    outlined
                    large
                  >
                    عروضنا  
                    <v-icon left dark>mdi-gift</v-icon>
                  </v-btn>
                </v-flex>

                <v-flex xs12 sm4 class="my-1">
                    <v-btn
                    @click="bottomNav = 'contact'"
                    color="deep-purple accent-4"
                    class="ma-2 white--text"
                    tile
                    outlined
                    large
                  >
                    تواصل معنا  
                    <v-icon left dark>mdi-map-marker</v-icon>
                  </v-btn>
                </v-flex>
                </v-col>
              </v-row>

            </v-container>
          </v-flex>
        </v-layout>
      </section>

      <section v-if="bottomNav == 'products'">
        <v-layout
          column
          wrap
          class="my-12"
          align-center
        >
          <v-flex xs12 sm4 class="my-4">
              <div class="text-center">
                <h1 style="font-size: 40px;">ﻣﻨﺘﺠﺎﺗﻨﺎ</h1>
              </div>
            </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout row wrap align-center>
                <v-flex xs12 md6>
                  <v-card>
                    <v-img
                      height="300px"
                      src="assets/product.jpg"
                    ></v-img>

                    <v-card-title>
                      ﺃﻧﺎﻟﻴﺎ
                    </v-card-title>

                    <v-card-actions>
                        <v-dialog
                          v-model="dialog1"
                          width="500"
                        >
                          <template v-slot:activator="{ on }">
                            <v-btn
                              color="deep-purple accent-4"
                              text
                              v-on="on"
                            >
                              ﺇﻋﺮﻑ ﺃﻛﺘﺮ
                            </v-btn>
                          </template>

                          <v-card>
                            <v-card-title
                              class="grey lighten-2"
                              primary-title
                            >
                              <h2>ﺃﻧﺎﻟﻴﺎ</h2>
                            </v-card-title>

                            <v-card-title>
                              هو عطر مستوحى من رائحة البخور ، و خلطته من التوت الأزرق واليانسون و بعض خشب الكشمير وعطر الزهور، مع قاعدة من المسك والعنبر والعسل.

                            </v-card-title>

                            <v-divider></v-divider>

                            <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn
                                color="deep-purple accent-4"
                                text
                                @click="dialog1 = false"
                              >
                                اﻟﻌﻮﺩﺓ
                              </v-btn>
                            </v-card-actions>
                          </v-card>
                        </v-dialog>
                    </v-card-actions> 
                  </v-card>
              </v-flex>

                <v-flex xs12 md6>
                  <v-card>
                    <v-img
                      height="300px"
                      src="assets/product.jpg"
                    ></v-img>

                    <v-card-title>
                      سحر
                    </v-card-title>

                    <v-card-actions>
                        <v-dialog
                          v-model="dialog2"
                          width="500"
                        >
                          <template v-slot:activator="{ on }">
                            <v-btn
                              color="deep-purple accent-4"
                              text
                              v-on="on"
                            >
                              ﺇﻋﺮﻑ ﺃﻛﺘﺮ
                            </v-btn>
                          </template>

                          <v-card>
                            <v-card-title
                              class="grey lighten-2"
                              primary-title
                            >
                              <h2>سحر</h2>
                            </v-card-title>

                            <v-card-title>
                              مزيج راقٍ ودقيق مستوحى من غابات الشرق الاستوائية، ويعتمد بشكل أساس على رائحة الأرض ودفء العنبر ما يجعله مثاليًّا لجميع المناسبات.
                            </v-card-title>

                            <v-divider></v-divider>

                            <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn
                                color="deep-purple accent-4"
                                text
                                @click="dialog2 = false"
                              >
                                اﻟﻌﻮﺩﺓ
                              </v-btn>
                            </v-card-actions>
                          </v-card>
                        </v-dialog>
                    </v-card-actions> 
                  </v-card>
              </v-flex>

              
                <v-flex xs12 md6>
                  <v-card>
                    <v-img
                      height="300px"
                      src="assets/product.jpg"
                    ></v-img>

                    <v-card-title>
                      كاشمير
                    </v-card-title>

                    <v-card-actions>
                        <v-dialog
                          v-model="dialog3"
                          width="500"
                        >
                          <template v-slot:activator="{ on }">
                            <v-btn
                              color="deep-purple accent-4"
                              text
                              v-on="on"
                            >
                              ﺇﻋﺮﻑ ﺃﻛﺘﺮ
                            </v-btn>
                          </template>

                          <v-card>
                            <v-card-title
                              class="grey lighten-2"
                              primary-title
                            >
                              <h2>كاشمير</h2>
                            </v-card-title>
                            
                            <v-card-title>
                              مُستمد من فاكهة اليوزو المنعشة  بعبيرها الحمضي المنعش، ينقلنا عطر كاشمير إلى ضفاف نهر اليانغتسي ، حيث تنمو ثمرة اليوزو منذ أكثر من ألف ومئتي سنة.
                            </v-card-title>

                            <v-divider></v-divider>

                            <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn
                                color="deep-purple accent-4"
                                text
                                @click="dialog3 = false"
                              >
                                اﻟﻌﻮﺩﺓ
                              </v-btn>
                            </v-card-actions>
                          </v-card>
                        </v-dialog>
                    </v-card-actions> 
                  </v-card>
              </v-flex>

              <v-flex xs12 md6>
                  <v-card>
                    <v-img
                      height="300px"
                      src="assets/product.jpg"
                    ></v-img>

                    <v-card-title>
                      ﻏﺰﻝ
                    </v-card-title>

                    <v-card-actions>
                        <v-dialog
                          v-model="dialog4"
                          width="500"
                        >
                          <template v-slot:activator="{ on }">
                            <v-btn
                              color="deep-purple accent-4"
                              text
                              v-on="on"
                            >
                              ﺇﻋﺮﻑ ﺃﻛﺘﺮ
                            </v-btn>
                          </template>

                          <v-card>
                            <v-card-title
                              class="grey lighten-2"
                              primary-title
                            >
                              <h2>ﻏﺰﻝ</h2>
                            </v-card-title>

                            <v-card-title>
                              عطر طبيعي مخصص للاطفال و خالي من الكحول لحمايه بشره طفلك من الجفاف و الالتهاب و اعطاءه رائحة مميزه ، و يتكون من المسك و العسل و الفانيليا و يحتوي علي رائحة البرتقال

                            </v-card-title>

                            <v-divider></v-divider>

                            <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn
                                color="deep-purple accent-4"
                                text
                                @click="dialog4 = false"
                              >
                                اﻟﻌﻮﺩﺓ
                              </v-btn>
                            </v-card-actions>
                          </v-card>
                        </v-dialog>
                    </v-card-actions> 
                  </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-layout>
      </section>

      <section v-if="bottomNav == 'offers'">
          <v-layout
          column
          wrap
          class="my-12"
          align-center
        >
          <v-flex xs12 sm4 class="my-4">
            <div class="text-center">
              <h1 style="font-size: 40px;">ﻋﺮﻭﺿﻨﺎ</h1>
              <br>
              <v-subheader>50 ﺑﻨﻘﺪﻡ ﻫﻨﺎ ﻣﻤﺠﻤﻮﻋﺔ ﻣﻤﻦ اﻟﻌﺮﻭﺽ ﻭاﻟﺨﺼﻮﻣﺎﺕ اﻟﻤﺘﺠﺪﺩﺓ اﻟﻠﻲ ﺑﺘﻮﺻﻞ ﻝ%</v-subheader>
            </div>
          </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout row wrap class="my-12">
                <v-flex xs12 sm6>
                    <v-card 
                      color="red accent-2"
                      dark
                    >
                      <v-card-text>
                        <h3 class="white--text">
                          اﻟﻌﺮﺽ اﻷﻭﻝ
                        </h3>
                        <div class="white--text">
                          ﻟﻮ اﺷﺘﺮﻳﺖ اﺯاﺯﺗﻴﻦ ﺃﻧﺎﻟﻴﺎ ﺗﺎﺧﺪ ﻣﻌﺎﻫﻢ ﻭاﺣﺪﺓ ﻏﺰﻝ ﻫﺪﻳﺔ.
                        </div>
                      </v-card-text>
                    </v-card>
                </v-flex>

                <v-flex xs12 sm6>
                    <v-card
                      color="red accent-2"
                      dark
                    >
                      <v-card-text>
                        <h3 class="white--text">
                          اﻟﻌﺮﺽ اﻟﺜﺎﻧﻲ
                        </h3>
                        <div class="white--text">
                          ﻟﻮ اﺷﺘﺮﻳﺖ اﺯاﺯﺓ ﺃﻧﺎﻟﻴﺎ ﺗﺎﺧﺪ ﻣﻌﺎﻫﺎ ﻛﺸﻤﻴﺮ ﺑﻨﺺ اﻟﺜﻤﻦ.
                        </div>
                      </v-card-text>
                    </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </section>

      <section v-if="bottomNav == 'contact'">
        <v-layout
          column
          wrap
          class="my-12"
          align-center
        >
          <v-flex xs12 sm4 class="my-4">
            <div class="text-center">
              <h1 style="font-size: 40px;">ﺇﺯاﻱ ﺗﻮﺻﻠﻨﺎ؟</h1>
              <br>
              <v-subheader>ﻳﺴﻌﺪﻧﺎ ﺗﻮﺻﻠﻜﻢ ﻣﻌﻨﺎ ﻟﻠﺤﺠﺰ ﻭ اﻹﺳﺘﻔﺴﺎﺭ ﻋﻦ ﻃﺮﻳﻖ....</v-subheader>
            </div>
          </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout row wrap class="my-12">

                <v-flex xs12 sm6>
                  <img src="assets/logo.png" height="200px;" class="mr-4"></img>
                </v-flex>

                <v-flex xs12 sm6>
                  <v-card flat class="transparent">
                    <v-list class="transparent mt-5">
                      <v-list-item>
                        <v-list-item-action>
                          <v-icon class="red--text text--accent-2 ml-2">mdi-phone</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                          <v-list-item-title>(+20) 123 456 789</v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                      <v-list-item>
                        <v-list-item-action>
                          <v-icon class="red--text text--accent-2 ml-2">mdi-instagram</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                          <v-list-item-title><a href="https://www.instagram.com/al3nod512">al3nod@</a></v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                      <v-list-item>
                        <v-list-item-action>
                          <v-icon class="red--text text--accent-2 ml-2">mdi-email</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                          <v-list-item-title>service@al3nod.com</v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </section>

      <v-footer padless>

        <v-card
          flat
          tile
          width="100%"
          class="deep-purple accent-4"
          dark
        >
          <v-card-text class="text-center white--text">
            <blockquote class="blockquote">ﺇﻧّﻪ ﻣﺰﻳﺞ ﺭاﻕٍ ﻭﺩﻗﻴﻖ ﻣﺴﺘﻮﺣﻰ ﻣﻦ ﻏﺎﺑﺎﺕ اﻟﺸﺮﻕ اﻻﺳﺘﻮاﺋﻴﺔ،<br> ﻭﻳﻌﺘﻤﺪ ﺑﺸﻜﻞ ﺃﺳﺎﺱ ﻋﻠﻰ ﺭاﺋﺤﺔ اﻷﺭﺽ<br> ﻭﺩﻑء اﻟﻌﻨﺒﺮ ﻣﺎ ﻳﺠﻌﻠﻪ ﻣﺜﺎﻟﻴًّﺎ ﻟﺠﻤﻴﻊ اﻟﻤﻨﺎﺳﺒﺎﺕ.</blockquote>
            <v-divider></v-divider>
            <br>
            <strong>اﻟﻌﻨﻮﺩ</strong> — {{ new Date().getFullYear() }} 
          </v-card-text>
        </v-card>
      </v-footer>
    </v-content>
  </v-app>
 </div>
 <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
 <script>
   new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    data () {
      return {
        bottomNav: 'whoAreWe',
        dialog1: false,
        dialog2: false,
        dialog3: false,
        dialog4: false,
        show: false
      }
    }
  })
 </script>
</body>
</html>
